
a{
text-decoration:none;
font-size:50px;
color:WHITE;
}

ul ,li{
margin:0;
font-size:30px;
text-align:center;
list-style-type: none;
display:flex;
justify-content:center;
padding:60px;

}
.DESCRP{
text-align:center;
font-size:80px;
}

body{
width:800px;
height:600px;
background-image:url('images/gulmarg.jpg');
background-size:cover;
background-repeat:no-repeat;
}

.SP{
COLOR:RED;
}

a:hover{
color:red;
}

